<p>Veuillez remplir le questionnaire suivant pour rajouter un syllabus à la formation selectionné</p>

<form [formGroup]="syllabusFormGroup" class="example-form" (ngSubmit)="onCreate()">
  <mat-form-field class="example-full-width">
    <mat-label>Titre du syllabus</mat-label>
    <input type="text" matInput formControlName="nom" />
    <mat-error *ngIf="syllabusFormGroup.controls['nom'].invalid">
      {{ getErrorTitre() }}
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <div class="file-input-container">
      <ngx-mat-file-input formControlName="fichier" [multiple]="multiple" [color]="color">
      </ngx-mat-file-input>
      <button class="btn btn-outline-danger" (click)="effacerFichier()" [disabled]="!syllabusFormGroup.controls['fichier'].value">
        <mat-icon>remove_circle</mat-icon> Effacer le fichier
      </button>
    </div>
    <mat-error *ngIf="syllabusFormGroup.controls['fichier'].invalid">
      {{ getErrorMessageFichier() }}
    </mat-error>
  </mat-form-field>
  <br/>
  <br/>
  <button style="margin-right: 10px" class="btn btn-outline-primary btn-block" (click)="retour()">
    <i class="fas fa-arrow-alt-circle-left"></i>Retour</button>
  <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!syllabusFormGroup.valid ">
    <i class="far fa-plus-square"></i>Ajouter</button>
</form>
