<div class="container mt-5 mb-5 bg-one rounded-1 h-auto">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 375" class="h-75">
                <g>
                    <rect class="icon-two" x="1.5" y="1.5" width="372" height="372" rx="83.89" ry="83.89" />
                    <path class="icon-one"
                        d="M289.61,3c45.43,0,82.39,36.96,82.39,82.39v204.22c0,45.43-36.96,82.39-82.39,82.39H85.39c-45.43,0-82.39-36.96-82.39-82.39V85.39C3,39.96,39.96,3,85.39,3h204.22m0-3H85.39C38.23,0,0,38.23,0,85.39v204.22c0,47.16,38.23,85.39,85.39,85.39h204.22c47.16,0,85.39-38.23,85.39-85.39V85.39C375,38.23,336.77,0,289.61,0h0Z" />
                </g>
                <path class="icon-one"
                    d="M124.14,218.07c0-9.27,7.52-16.79,16.79-16.79s16.79,7.52,16.79,16.79v33.57c0,9.27-7.52,16.79-16.79,16.79s-16.79-7.52-16.79-16.79v-33.57Zm50.36,0c0-9.27,7.52-16.79,16.79-16.79s16.79,7.52,16.79,16.79v33.57c0,9.27-7.52,16.79-16.79,16.79s-16.79-7.52-16.79-16.79v-33.57Zm50.36,0c0-9.27,7.52-16.79,16.79-16.79s16.79,7.52,16.79,16.79v33.57c0,9.27-7.52,16.79-16.79,16.79s-16.79-7.52-16.79-16.79v-33.57Z" />
                <path class="icon-one"
                    d="M153.63,68.19c3.98,2.38,5.27,7.54,2.89,11.51h0l-42.74,71.22h155l-42.75-71.22c-2.38-3.98-1.09-9.13,2.89-11.51,3.98-2.38,9.13-1.09,11.51,2.89l47.92,79.85h28.82c4.64,0,8.39,3.76,8.39,8.39v16.79c0,4.64-3.76,8.39-8.39,8.39h-10.46l-30.95,108.37c-1.55,5.41-6.49,9.14-12.12,9.13H118.94c-5.63,0-10.57-3.72-12.12-9.13l-30.97-108.37h-10.46c-4.64,0-8.39-3.76-8.39-8.39v-16.79c0-4.64,3.76-8.39,8.39-8.39h28.82l47.89-79.85c2.38-3.98,7.54-5.27,11.51-2.89h.02Zm-60.33,116.31l28.77,100.71h138.41l28.77-100.71H93.31Z" />
            </svg>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="d-flex justify-content-center align-items-center ">
                    <p class="fs-4 fw-bold mt-5">Détail produit</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="mb-0 text-one fw-bold text-two">Nom :</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{produit.nom}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="mb-0 text-one fw-bold text-two">Prix :</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{produit.prix}} <strong class="text-two">€</strong>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="mb-0 text-one fw-bold text-two">Description :</h6>
                        </div>
                        <div class="col-md-12">
                            {{produit.description}}
                        </div>
                        <div class="col-md-12">
                            <div class="d-grid gap-2 mb-1">
                                <a class="btn btn-dark mt-5">Ajouter le produit a mon panier</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>