<p style=" color: white">Formulaire : Veuillez remplir le questionnaire suivant pour ajouter une catégorie</p>
<!--TODO: Questionnaire à faire
  !-->

<form [formGroup]="categorieFormGroup" class="example-form" (ngSubmit)="onCreate()">
  <mat-form-field class="example-full-width">
    <mat-label>Nouvelle catégorie</mat-label>
    <input type="text" matInput formControlName="nom"/>
    <mat-error *ngIf="categorieFormGroup.controls['nom'].invalid">
      {{ errorMessageNom() }}
    </mat-error>
  </mat-form-field>
  <p></p>
  <button style="margin-right: 10px" class="btn btn-outline-primary btn-block" (click)="retour()">
    <i class="fas fa-arrow-alt-circle-left"></i> Retour</button>
  <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!categorieFormGroup.valid">
    <i class="far fa-plus-square"></i> Ajouter</button>
  <p></p>
</form>
