<div class="h-100">
    <form [formGroup]="updateFormAdresseE" (ngSubmit)="onSubmit()">
        <div class="container p-3 mt-5 mb-5  bg-one rounded-3">
            <div class="container bg-two rounded-3">
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center mt-3 mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="orange" class="bi bi-building " viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                        </svg>
                    </div>
                </div>
                <div class="container d-flex justify-content-center">
                    <div class="col-md-6">
                        <h2 class="text-secondary fw-bold d-flex justify-content-center">modification entreprise</h2>
                        <div>
                            <label class="labels text-one fw-bold ">Nom entreprise :</label>
                            <input type="text" formControlName="nomE" class="form-control" placeholder="{{entrepreneur.nomE}}">
                        </div>
                        <div>
                            <label class="labels text-one fw-bold ">Rue :</label>
                            <input type="text" formControlName="rueE" class="form-control" placeholder="{{entrepreneur.rueE}}">
                        </div>
                        <div>
                            <label class="labels text-one fw-bold ">Numéro :</label>
                            <input type="number" formControlName="numeroRueE" class="form-control" placeholder="{{entrepreneur.numeroRueE}}">
                        </div>
                        <div>
                            <label class="labels text-one fw-bold ">Ville :</label>
                            <input type="text" formControlName="villeE" class="form-control" placeholder="{{entrepreneur.villeE}}">
                        </div>
                        <div>
                            <label class="labels text-one fw-bold ">Code Postal :</label>
                            <input type="number" formControlName="codePostalE" class="form-control" placeholder="{{entrepreneur.codePostalE}}">
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="mb-3 text-center d-grid col-6 mx-auto">
                                    <input class="btn w-100 btn-success" type="submit"value="Confirmer" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 text-center d-grid col-6 mx-auto">
                                    <button class="btn w-100 btn-danger" type="button" (click)="chargerRouteProfil()">Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</div>