<p style=" color: white">Formulaire de connexion</p>

<form [formGroup]="connexionFormGroup" class="example-form" (ngSubmit)="connexion()">
  <br/>
  <mat-form-field class="example-full-width">
    <mat-label>Insérer votre mail</mat-label>
    <input type="email" matInput formControlName="mail"/>
    <!--1ere solution-->
    <mat-error *ngIf="connexionFormGroup.controls['mail'].invalid">
      {{ getErrorMessageMail() }}
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field class="example-full-width">
    <mat-label>Insérer votre mot de passe</mat-label>
    <input type="password" matInput formControlName="password"/>
    <!--1ere solution-->
    <mat-error *ngIf="connexionFormGroup.controls['password'].invalid">
      <!--Le registre national est <strong>requis.</strong>-->
      {{ getErrorMessagePassword() }}
    </mat-error>
  </mat-form-field>
  <p></p>
  <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!connexionFormGroup.valid">
    <i class="far fa-plus-square"></i> Se connecter</button>
  <p></p>
</form>
