<h1>Qui sommes nous ? </h1>

<p>Médecins Sans Frontières en Belgique réunit à la fois les bureaux de la section MSF Belgique ainsi que le Centre Opérationnel de Bruxelles (OCB). Ce dernier est la plateforme opérationnelle la plus importante de MSF puisqu’elle gère des projets d’intervention sur le terrain dans plus de 70 pays.
  De son côté, le bureau national de MSF Belgique a pour tâches de recruter des collaborateurs et de récolter des fonds.</p>
<p>Voici notre petite vidéo de présentation : </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2rJbOZ88bqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>Nous allons vous présenter sous forme de graphiques et schéma nos chiffres</p>
