<h1>Table des formations</h1>

<div class="container">
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">IdFormations</th>
      <th scope="col">Nom</th>
      <th scope="col">Infos</th>
      <th scope="col">Date limite pour les inscriptions</th>
      <th scope="col">Date disponible du questionnaire</th>
      <th scope="col">Prof référent</th>
      <th scope="col">Catégorie du cours</th>
      <th scope="col">Actif</th>
      <td scope="col" colspan="2" style="text-align: center;">Options</td>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let formation of formations">
      <td>{{ formation.idFormations }}</td>
      <td>{{ formation.nom }}</td>
      <td>{{ formation.infos }}</td>
      <td>{{ formation.dateLimiteInscription  | date: 'dd/MM/yyyy' }} {{ formation.heureLimiteInscription }} </td>
      <td>{{ formation.dateQuestionnaire | date: 'dd/MM/yyyy' }} {{ formation.heureQuestionnaire }}</td>
      <td>{{ formation.utilisateurs.nom + " " + formation.utilisateurs.prenom }}</td>
      <td>{{ formation.categories.nom }}</td>
      <td>{{ formation.actif }}</td>
      <td>
        <button class="btn btn-outline-warning"
                routerLink="/updateFormations/{{ formation.idFormations }}"><mat-icon>update</mat-icon>Modifier
        </button>
      </td>
      <td>
        <button *ngIf="formation.actif !=0; else active" class="btn btn-outline-danger"
                (click)="onUpdate(formation.idFormations, formation.actif)">
          <mat-icon>power_off</mat-icon> Désactiver
        </button>
        <ng-template #active>
          <button (click)="onUpdate(formation.idFormations, formation.actif)" class="btn btn-outline-danger">
            <mat-icon>power_on</mat-icon>Activé
          </button></ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>
