<h1>Mise a jour de la catégorie</h1>
<form [formGroup]="categorieFormGroup" class="example-form" (ngSubmit)="onUpdate()">
  <mat-form-field class="example-full-width">
    <mat-label>Modifier le nom de la catégorie</mat-label>
    <input type="text" matInput formControlName="nom"/>
    <mat-error *ngIf="categorieFormGroup.controls['nom'].invalid">
      {{ errorMessageNom() }}
    </mat-error>
  </mat-form-field>
  <br/>
  <button style="margin-right: 10px" class="btn btn-outline-primary btn-block" (click)="retour()">
    <i class="fas fa-arrow-alt-circle-left"></i> Retour</button>
  <button type="submit" class="btn btn-outline-success btn-block" (click)="updateData()" [disabled]="!categorieFormGroup.valid">
    <i class="far fa-plus-square"></i> Modifier</button>
</form>
