<div class="container p-3 mt-5 mb-5  bg-one rounded-3">
    <div class="bg-two rounded-3">
        <div class="row m-1">
            <div class="col-md-5 h-25">
                <div class="container">
                    <div class="d-flex justify-content-center mb-5 mt-5">
                        <div *ngIf="entrepreneur['imageEntrepreneur'] != undefined ; else notImage">
                            <img width="300" height="300"  class="rounded-circle" src="{{apiUrl + entrepreneur['imageEntrepreneur'].uid}}" alt="{{apiUrl + entrepreneur['imageEntrepreneur'].nom}}">
                        </div>
                        <ng-template #notImage>
                            <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="orange" class="bi bi-person-video" viewBox="0 0 16 16">
                                <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2Zm10.798 11c-.453-1.27-1.76-3-4.798-3-3.037 0-4.345 1.73-4.798 3H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-1.202Z"/>
                            </svg>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-md-7 mt-5 mb-5 d-flex justify-content-center align-items-center">
                <p class="text-white fw-bold mt-4 fs-1">{{entrepreneur.nomE}}</p>
            </div>
        </div>
    <hr class="bg-one m-2">
        <div class="row m-1">
            <div class="col-md-6 p-3">
                <div class="card bg-two">
                    <div class="d-flex justify-content-center mb-3">
                        <p class="text-one fw-bold d-flex justify-content-center mt-4 fs-3">Statistiques</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <h6 class="mb-0 text-one fw-bold">Nombre produits :</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                a finir...
                            </div>
                        </div>
                    <hr>
                        <div class="row">
                            <div class="col-md-5">
                                <h6 class="mb-0 text-one fw-bold">Revenus totaux :</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                a finir...
                            </div>
                        </div>
                    <hr>
                        <div class="row">
                            <div class="col-md-5">
                                <h6 class="mb-0 text-one fw-bold">Nombres ventes :</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                a finir...
                            </div>
                        </div>
                    <hr>
                        <div class="row">
                            <div class="col-md-5">
                                <h6 class="mb-0 text-one fw-bold">Meilleur vente :</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                a finir...
                            </div>
                        </div>
                    <hr>
                        <div class="row">
                            <div class="col-md-5 text-one">
                                <h6 class="mb-0 fw-bold">le moins vendus :</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                a finir...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-3">
                <div class="card bg-two">
                    <div class="d-flex justify-content-center mb-3">
                        <p class="text-one fw-bold d-flex justify-content-center mt-4 fs-3">Adresse</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <h6 class="mb-0 text-one fw-bold ">Rue :</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                {{entrepreneur.rueE}}
                            </div>
                        </div>
                    <hr>
                        <div class="row">
                            <div class="col-md-5">
                                <h6 class="mb-0 text-one fw-bold">Numéro :</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                {{entrepreneur.numeroRueE}}
                            </div>
                        </div>
                    <hr>
                        <div class="row">
                            <div class="col-md-5">
                                <h6 class="mb-0 text-one fw-bold">Ville :</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                {{entrepreneur.villeE}}
                            </div>
                        </div>
                    <hr>
                        <div class="row">
                            <div class="col-md-5">
                                <h6 class="mb-0 text-one fw-bold">Code Postal :</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                {{entrepreneur.codePostalE}}
                            </div>
                        </div>
                    <hr>
                        <div class="row">
                            <div class="col-md-5 text-one ">
                                <h6 class="mb-0 fw-bold">adresse complete :</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                {{entrepreneur.rueE}} {{entrepreneur.numeroRueE}} {{entrepreneur.villeE}} {{entrepreneur.codePostalE}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center mt-3 mb-3">
            <div class="col-md-12">
                <div class="d-grid gap-2 mb-1">
                    <a class="btn btn-dark" (click)="chargerRouteAllProduit()">Mes produits</a>
                </div>
                <div class="d-grid gap-2 mb-1">
                    <a class="btn btn-dark" (click)="chargerRouteUpdate()">Modifier entreprise</a>
                </div>
                <div class="d-grid gap-2 mb-1">
                    <a class="btn btn-dark" (click)="chargerRouteUpdateImageEntrepreneur()">Modifier image</a>
                </div>
                <div class="d-grid gap-2 mb-1">
                    <a class="btn btn-danger" (click)="chargerRouteDelete()">Supprimer entreprise</a>
                </div>
                <div class="d-grid gap-2 mb-1">
                    <a class="btn btn-success" (click)="chargerRouteProfil()">Revenir sur mon profil</a>
                </div>
            </div>
        </div>
    </div>
</div>

