<h1 style=" color: white"> Table des utilisateurs</h1>

<div class="container">
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">IdUtilisateur</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Mail</th>
      <th scope="col">NRN</th>
      <!--<th scope="col">Password</th>-->
      <th scope="col">Sexe</th>
      <th scope="col">Actif</th>
      <th scope="col">Role</th>
      <td scope="col" colspan="2" style="text-align: center;">Options</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let utilisateur of utilisateurs">
      <td>{{ utilisateur.idUtilisateur }}</td>
      <td>{{ utilisateur.nom }}</td>
      <td>{{ utilisateur.prenom }}</td>
      <td>{{ utilisateur.mail }}</td>
      <td>{{ utilisateur.NRN }}</td>
      <!--<td>{{ utilisateur.password }}</td>-->
      <td>{{ utilisateur.sexe }}</td>
      <td>{{ utilisateur.actif }}</td>
      <td>{{utilisateur.role.denomination}}</td>
      <td>
        <!--Utiliser un resolver pour que ça soit plus propre-->
        <button class="btn btn-outline-warning"
                routerLink="/updateUtilisateurs/{{ utilisateur.idUtilisateur }}"><mat-icon>update</mat-icon>Modifier
        </button>
      </td>
      <td>
        <button *ngIf="utilisateur.actif !=0; else active" (click)="onUpdate(utilisateur.idUtilisateur, utilisateur.actif)"
          class="btn btn-outline-danger">
          <mat-icon>power_off</mat-icon> Désactiver
        </button>
        <ng-template #active>
          <button (click)="onUpdate(utilisateur.idUtilisateur, utilisateur.actif)" class="btn btn-outline-danger">
          <mat-icon>power_on</mat-icon>Activé
        </button></ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>
