<!--TODO: Questionnaire à faire
  !-->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nouvelle formation</mat-label>
    <input type="text" matInput [formControl]="nomFormControl" />
    <mat-error *ngIf="nomFormControl.hasError('required')">
      Le nom de la formation est <strong>requise.</strong>
    </mat-error>
  </mat-form-field>
  <p></p>
  <mat-form-field class="example-full-width">
    <mat-label>Info complémentaires</mat-label>
    <input type="text" matInput [formControl]="infosFormControl" />
  </mat-form-field>
  <p></p>
  <mat-form-field class="example-full-width">
    <mat-label>Date limite de l'inscription</mat-label>
    <input
      type="date"
      matInput
      [formControl]="dateLimiteInscriptionFormControl"
    />
    <mat-error *ngIf="dateLimiteInscriptionFormControl.hasError('required')">
      La date limite d'inscription est <strong>requise.</strong>
    </mat-error>
  </mat-form-field>
  <p></p>
  <mat-form-field class="example-full-width">
    <mat-label>Date du questionnaire de l'examen</mat-label>
    <input type="date" matInput [formControl]="dateQuestionnaireFormControl" />
    <mat-error *ngIf="dateQuestionnaireFormControl.hasError('required')">
      La date du questionnaire de fin de formation est <strong>requise.</strong>
    </mat-error>
  </mat-form-field>
  <p></p>
</form>
