<p>Veuillez remplir le questionnaire suivant pour ajouter une formation</p>

<form [formGroup]="formationFormGroup" class="example-form" (ngSubmit)="onUpdate()" >
  <mat-form-field class="example-full-width">
    <mat-label>Nouvelle formation</mat-label>
    <input type="text" matInput formControlName="nom" />
    <mat-error *ngIf="formationFormGroup.controls['nom'].invalid">
      {{ getErrorMessageNom() }}
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field class="example-full-width">
    <mat-label>Info complémentaires</mat-label>
    <textarea matInput formControlName="infos"></textarea>
    <mat-error *ngIf="formationFormGroup.controls['infos'].invalid">
      {{ getErrorMessageInfos() }}
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Date limite de l'inscription</mat-label>
    <!--TODO : La date accepte n'importe quel caractère et n'est pas désactivable-->
    <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choisir une date" formControlName="dateheureLimiteInscription" readonly>
    <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker2 [showSpinners]="true" [showSeconds]="true" [stepHour]="1"
                             [stepMinute]="1" [stepSecond]="1" [touchUi]="false" [color]="undefined"
                             [enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
      <!-- Custom icon or text of Apply icon -->
      <ng-template>
        <!-- <mat-icon>star</mat-icon> -->
        <span>OK</span>
      </ng-template>
    </ngx-mat-datetime-picker>
    <mat-error *ngIf="formationFormGroup.controls['dateheureLimiteInscription'].invalid">
      {{ getErrorMessageDateHeureLimiteInscription() }}
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Date du questionnaire</mat-label>
    <!--TODO : La date accepte n'importe quel caractère et n'est pas désactivable-->
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choisir une date" formControlName="dateheureQuestionnaire" readonly>
    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true" [stepHour]="1"
                             [stepMinute]="1" [stepSecond]="1" [touchUi]="false" [color]="undefined"
                             [enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
      <!-- Custom icon or text of Apply icon -->
      <ng-template>
        <!-- <mat-icon>star</mat-icon> -->
        <span>OK</span>
      </ng-template>
    </ngx-mat-datetime-picker>
    <mat-error *ngIf="formationFormGroup.controls['dateheureQuestionnaire'].invalid">
      {{ getErrorMessageDateHeureQuestionnaire() }}
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Choissiez la catégorie</mat-label>
    <mat-select formControlName="categorie" (ngModelChange)="afficherCategorie()" [(value)]="selectedCat">
      <mat-option *ngFor="let categorie of categories" [value]="categorie.idCategories">
        {{categorie.nom}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formationFormGroup.controls['categorie'].invalid">
      {{ getErrorMessageCategorie() }}
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Choissiez le responsable</mat-label>
    <mat-select formControlName="utilisateur" (ngModelChange)="afficherUtilisateur()" [(value)]="selectedUser">
      <mat-option *ngFor="let utilisateur of utilisateurs" [value]="utilisateur.idUtilisateurs">
        {{utilisateur.nom + " " + utilisateur.prenom}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formationFormGroup.controls['utilisateur'].invalid">
      {{ getErrorMessageUtilisateur() }}
    </mat-error>
  </mat-form-field>
  <br/>
  <button style="margin-right: 10px" class="btn btn-outline-primary btn-block" (click)="retour()">
    <i class="fas fa-arrow-alt-circle-left"></i>Retour</button>
  <button type="submit" class="btn btn-outline-success btn-block" (click)="updateData()" [disabled]="!formationFormGroup.valid ">
    <i class="far fa-plus-square"></i>Modifier</button>
</form>
